<div class="sticky-menu">
  <div class="shadow bg-light my-5">
    <h5 class="card-header  text-truncate">Профиль</h5>
    <div class="card-body px-0">
      <%= link_to "Общая информация", info_profiles_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
      <%= link_to "Редактировать аккаунт", edit_user_registration_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
      <%= link_to "Мой сервер", servers_profiles_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
      <%= link_to "Баланс LTC", balance_profiles_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
      <%= link_to "Голосование", vote_button_profiles_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
       <%= link_to "Мои банеры", edit_profile_path(current_user.profile), class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
       <%= link_to "Мои заявки", petitions_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
       <%= link_to "Мои банеры", banners_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
      
    </div>
  </div>
</div>
