<div class="col col-3">
  <%= render '/profiles/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Банер 1920х600</h5>
    <div class="card-body">
      <li class="list-group-item border-secondary">
        <% if @profile.errors.any? %>
          <p class="text-danger mb-3"><%= t('common.errors') %></p>
        <% end %>
        <% if @profile.baner_top_date_end.present? %>
          <div>
            Дата публикации банера 1920х600
            <p> с:
              <%= @profile.baner_top_date_start %>
              по:
              <%= @profile.baner_top_date_end %>
            </p>
          </div>
        <% end %>
        <% if @profile.baner_top_img.present? %>
          <div>
            <a href="<%= @profile.baner_top_url %>" target="_blank">
              <%= image_tag @profile.baner_top_img.url, class: "w-50" %>
            </a>
          </div>
        <% end %>
        <% unless @profile.baner_top_status == 'published' %>
        <%= simple_form_for @profile, html: { multipart: true }  do |f| %>
          <div class="form-group">
            <%= f.input :baner_top_img, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.input :baner_top_url, collection: Server.where(user_id: current_user.id).pluck('urlserver'), class: 'form-control' %>
          </div>
          <div class="row justify-content-around form-group">
            <%= f.submit 'Сохранить', class: 'btn btn-success w-50 mt-1' %>
          </div>
          <hr>
        <% end %>
        <% end %>
        <div class="mb-4">
          Статус публикации:
          <span class="badge badge-<%= publish_color(@profile.baner_top_status) %>"><%= t("publish.#{@profile.baner_top_status}") %> </span>
        </div>
        <% if @profile.baner_top_status == 'published' %>
          <%= link_to 'Снять с публикации', arhiv_top_profiles_path(id: @profile.id), class: 'btn btn-outline-danger btn-sm w-25 p-0 my-3', method: :post, data: { confirm: 'Вы уверены что хотите снять банер с публикации?' } %>
        <% end %>
        <% if @profile.baner_top_status == 'arhiv' %>
          <%= link_to 'Отправить на проверку', publish_top_profiles_path(id: @profile.id), class: 'btn btn-outline-info w-25 p-0 my-3', method: :post %>
        <% end %>
        <% if @profile.baner_top_status == 'failed' %>
          <div class="font-weight-bold text-center text-white bg-danger my-2">
            Банер не соответсвует <%= link_to 'правилам', placement_rules_contents_path, class: "badge badge-light"  %>. Измените банер
            согласно требованиям перед проверкой
          </div>
          <%= link_to 'Отправить на проверку', publish_top_profiles_path(id: @profile.id), class: 'btn btn-outline-info w-25 p-0 my-3', method: :post %>
        <% end %>
        <% if baner_top_free.present? %>
          <div class="font-weight-bold text-center text-white bg-secondary my-2">
            <p>Банерное место 1920х600 в данный момент занято.</p>
            Будет свободно с 
            <%= baner_top_free_day %>
          </div>
        <% else %>
          <% if @profile.baner_top_img.present? %>
            <% unless @profile.baner_top_status == 'failed' || @profile.baner_top_status == 'unverified' %>
              <div class="row justify-content-around my-4">
                <%= link_to 'Включить банер 1920х600 на 15 дней за 50 LTC', top15_profiles_path(id: @profile.id), class: 'btn btn-outline-primary font-weight-bold btn-sm w-25', method: :post, data: { confirm: 'Включить банер 1920х600 на 15 дней за 50 LTC?' } %>
                <%= link_to 'Включить банер 1920х600 на 30 дней за 100 LTC', top30_profiles_path(id: @profile.id), class: 'btn btn-outline-danger font-weight-bold btn-sm w-25', method: :post, data: { confirm: 'Включить банер 1920х600 на 30 дней за 100 LTC?' } %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </li>
    </div>
  </div>
  <%# ======================================================== %>
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Банер 240x400</h5>
    <div class="card-body">
      <li class="list-group-item border-secondary">
        <% if @profile.errors.any? %>
          <p class="text-danger mb-3"><%= t('common.errors') %></p>
        <% end %>
        <% if @profile.baner_menu_date_end.present? %>
          <div>
            Дата публикации банера 240x400
            <p> с:
              <%= @profile.baner_menu_date_start %>
              по:
              <%= @profile.baner_menu_date_end %>
            </p>
          </div>
        <% end %>
        <% if @profile.baner_menu_img.present? %>
          <div>
            <a href="<%= @profile.baner_menu_url %>" target="_blank">
              <%= image_tag @profile.baner_menu_img.url, class: "w-25" %>
            </a>
          </div>
        <% end %>
        <% unless @profile.baner_menu_status == 'published' %>
        <%= simple_form_for @profile, html: { multipart: true }  do |f| %>
          <div class="form-group">
            <%= f.input :baner_menu_img, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.input :baner_menu_url, collection: Server.where(user_id: current_user.id).pluck('urlserver'), class: 'form-control' %>
          </div>
          <div class="row justify-content-around form-group">
            <%= f.submit 'Сохранить', class: 'btn btn-success w-50 mt-1' %>
          </div>
          <hr>
        <% end %>
        <% end %>
        <div class="mb-4">
          Статус публикации:
          <span class="badge badge-<%= publish_color(@profile.baner_menu_status) %>"><%= t("publish.#{@profile.baner_menu_status}") %> </span>
        </div>
        <% if @profile.baner_menu_status == 'published' %>
          <%= link_to 'Снять с публикации', arhiv_menu_profiles_path(id: @profile.id), class: 'btn btn-outline-danger btn-sm w-25 p-0 my-3', method: :post, data: { confirm: 'Вы уверены что хотите снять банер с публикации?' } %>
        <% end %>
        <% if @profile.baner_menu_status == 'arhiv' %>
          <%= link_to 'Отправить на проверку', publish_menu_profiles_path(id: @profile.id), class: 'btn btn-outline-info w-25 p-0 my-3', method: :post %>
        <% end %>
        <% if @profile.baner_menu_status == 'failed' %>
          <div class="font-weight-bold text-center text-white bg-danger my-2">
            Банер не соответсвует <%= link_to 'правилам', placement_rules_contents_path, class: "badge badge-light"  %>. Измените банер
            согласно требованиям перед проверкой
          </div>
          <%= link_to 'Отправить на проверку', publish_menu_profiles_path(id: @profile.id), class: 'btn btn-outline-info w-25 p-0 my-3', method: :post %>
        <% end %>
        <% if baner_menu_free.present? %>
          <div class="font-weight-bold text-center text-white bg-secondary my-2">
            <p>Банерное место 240x400 в данный момент занято.</p>
            Будет свободно с 
            <%= baner_menu_free_day %>
          </div>
        <% else %>
          <% if @profile.baner_menu_img.present? %>
            <% unless @profile.baner_menu_status == 'failed' || @profile.baner_menu_status == 'unverified' %>
              <div class="row justify-content-around my-4">
                <%= link_to 'Включить банер 240x400 на 15 дней за 30 LTC', menu15_profiles_path(id: @profile.id), class: 'btn btn-outline-primary font-weight-bold btn-sm w-25', method: :post, data: { confirm: 'Включить банер 240x400 на 15 дней за 30 LTC?' } %>
                <%= link_to 'Включить банер 240x400 на 30 дней за 50 LTC', menu30_profiles_path(id: @profile.id), class: 'btn btn-outline-danger font-weight-bold btn-sm w-25', method: :post, data: { confirm: 'Включить банер 240x400 на 30 дней за 50 LTC?' } %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </li>
    </div>
  </div>
</div>
