<div class="col col-3">
  <%= render '/profiles/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Общая информация</h5>
    <div class="card-body">
      <% if current_user.unconfirmed_email.present? %>
        <div class="badge badge-warning mb-3">
          В настоящее время ожидает подтверждения email для: <%= current_user.unconfirmed_email %>
        </div>
      <% end %>
      <table class="table-sm">
        <tbody>
          <tr>
            <th class="w-25" scope="row">Имя:</th>
            <td class="w-50"><%= current_user.username %></td>
          </tr>
          <tr>
            <th scope="row">Вход через:</th>
            <td><%= current_user.provider %></td>
          </tr>
          <tr>
            <th scope="row">email:</th>
            <td><%= current_user.email %>
              <% if current_user.email[0] == '*' %>
                <%= link_to "Измените на действительный email", edit_user_registration_path, class: "badge badge-danger" %>
              <% end  %>
            </td>
          </tr>
          <tr>
            <th scope="row">Дата регистрации:</th>
            <td><%= current_user.created_at.strftime("%d-%m-%Y в %H-%M") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
