<div class="col col-3">
  <%= render '/profiles/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Мои сервера</h5>
    <div class="card-body">
      <% @servers.each do |server| %>
        <li class="list-group-item">
          <%= link_to server.title, server_path(server) %>
          <%= server.datestart %>
          <%= server.serverversion.name %>
          <%= link_to server.urlserver, server.urlserver %>
        </li>
      <% end %>
    </div>
  </div>
</div>
