<div class="col col-3">
  <%= render '/profiles/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Мои сервера</h5>
    <div class="card-body">
      <% @servers.profile.each do |server| %>
        <li class="list-group-item mb-4">
          <div class="media">
            <% if server.imageserver? %>
              <%= image_tag server.imageserver.url, class: "mr-3"%>
            <% else %>
              <img src="/images/servers/50.jpg" class="mr-3">
            <% end %>
            <div class="media-body"><%= server.description %></div>
          </div>
          <hr>
          <table class="table-sm">
            <tbody>
              <tr>
                <th class="w-25" scope="row">Название сервера:</th>
                <td class="w-50"><%= server.title %></td>
              </tr>
              <tr>
                <th class="w-25" scope="row">Адрес сервера:</th>
                <td><%= link_to server.urlserver, server.urlserver, target: "_blank" %></td>
              </tr>
              <tr>
                <th class="w-25" scope="row">Дата и время старта:</th>
                <td><%= server.datestart.strftime("%d-%m-%Y в %H-%M") %></td>
              </tr>
              <tr>
                <th class="w-25" scope="row">Хроники:</th>
                <td> <%= server.serverversion.name %></td>
              </tr>
              <tr>
                <th class="w-25" scope="row">Рейты:</th>
                <td> x<%= server.rate %></td>
              </tr>
            </tbody>
          </table>
          <br>
          <%= link_to 'Изменить', edit_server_path(server), class: 'btn btn-outline-primary btn-sm w-25' %>
          <%= link_to 'Удалить', server_path(server), class: 'btn btn-outline-dark btn-sm w-25 float-right', method: :delete, data: { confirm: 'Вы уверены?' } %>
        </li>
      <% end %>
    </div>
  </div>
</div>
