<div class="sticky-menu">
  <div class="shadow bg-light my-5">
    <h5 class="card-header  text-truncate">Информация</h5>
    <div class="card-body px-0">
      <%= link_to 'О сайте', about_contents_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
      <%= link_to 'Контакты', contact_contents_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
       <%= link_to 'Реклама', advertising_contents_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
      <%= link_to 'Конфиденциальность', privacy_contents_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
      <%= link_to 'Пользовательское соглашение', terms_of_use_contents_path, class: "btn btn-sm btn-light w-100 text-truncate text-left" %>
    </div>
  </div>
</div>
