<% if @server.errors.any? %>
  <p class="text-danger"><%= t('common.errors') %></p>
<% end %>
<%= simple_form_for @server do |f| %>
  <div class="form-group">
    <%= f.input :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :urlserver, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :serverversion, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :rate, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%# <%= f.label :datestart  %>
    <%= f.input :datestart, class: 'form-control' %>
  </div>
  <hr>
  <div class="form-group">
    <%= f.submit 'Сохранить', class: 'btn btn-success w-25' %>
  </div>
<% end %>
