<% if @server.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @server, html: { multipart: true } do |f| %>
<div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: 'Название сервера' %>
</div>

<div class="form-group">
    <%= f.label :urlServer %>
    <%= f.url_field :urlServer, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :version %>
    <%= f.select :version, @versions, class: 'form-control' %>
</div>
 
<div class="form-group">
    <%= f.label :dateStart %>
    <%= f.date_field :dateStart, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
</div>

<% end %>

