<%= form_for @server do |f| %>

<div class="form-control">
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>

<div class="form-control">
    <%= f.label :urlServer %>
    <%= f.text_field :urlServer %>
</div>

<div class="form-control">
    <%= f.label :dateStart %>
    <%= f.date_field :dateStart %>
</div>

<div class="form-control">
    <%= f.submit 'Сохранить' %>
</div>

<% end %>