<%= form_with model: @server, class: "form-group" do |f| %>

<div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :urlServer %>
    <%= f.url_field :urlServer, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :version %>
    <%= f.select :version, @versions, class: 'form-control' %>
</div>
 
<div class="form-group">
    <%= f.label :dateStart %>
    <%= f.date_field :dateStart, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
</div>

<% end %>

