<%= form_for @server do |f| %>

<div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :urlServer %>
    <%= f.text_field :urlServer, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.label :dateStart %>
    <%= f.date_field :dateStart, class: 'form-control' %>
</div>

<div class="form-group">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
</div>

<% end %>

