<div class="shadow bg-light my-5">
  <h5 class="card-header">Сервера по рейтингу</h5>
  <div class="card-body">
    <table class="table table-hover table-sm">
      <tbody>
        <% vip = %w[star star_outline crop_7_5] %>
        <% @listserver.rating.each do |server| %>
          <tr>
            <td><i class="mi vip<%= server.status %>"> <%= vip[server.status - 1] %> </i></td>
            <td><%= link_to truncate(server.title.html_safe, length:18), server.urlserver, class: "link-#{server.status}", target: "_blank" %></td>
            <td><%= server.serverversion.name %></td>
            <td>x<%= server.rate %></td>
            <td><%= server.datestart.strftime("%d.%m.%Y") %></td>
            <td>рейтинг: <%= server.rating %></td>
            <td><%= link_to ' Info', listserver_path(server), class: 'btn btn-sm btn-info p-0 w-100' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
