<h1>servers</h1>

<ul class="list-group">
<% @listservers.each do |server| %>
<li class="list-group-item">
<%= link_to server.title, listserver_path(server) %>
<%= server.dateStart %>
<%= server.version %>
<%= link_to server.urlServer, server.urlServer %>
</li>
<% end %>
</ul>

<% @versions.each do |versions| %>
<p>
<%= versions %>
</p>
<% end %>