<div class="col col-3">
  <%= render '/layouts/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header"><%= t('.title') %></h5>
    <div class="card-body">
      <table class="table table-hover table-bordered table-sm">
   
        <tbody>
          <% @listservers.each do |server| %>
            <tr>
              <th scope="row">1</th>
              <td><%= link_to server.title, server.urlServer %></td>
              <td>Mark</td>
              <td><%= server.dateStart %></td>
              <td><%= server.serverversion.name %></td>
              <td><%= server.rating %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="shadow bg-light my-5">
    <h5 class="card-header"><%= t('.title') %></h5>
    <div class="card-body">
      <table class="table table-hover table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">&&</th>
            <th scope="col">Имя</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <% @listservers.each do |server| %>
            <tr>
              <th scope="row">1</th>
              <td><%= link_to server.title, server.urlServer %></td>
              <td>Mark</td>
              <td><%= server.dateStart %></td>
              <td><%= server.serverversion.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
