<div class="col col-3">
  <%= render '/layouts/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header"><%= t('.title') %></h5>
    <div class="card-body">
      <p class="card-text">
        <ul class="list-group">
          <% @listservers.each do |server| %>
            <li class="list-group-item">
              <%= link_to server.title, listserver_path(server) %>
              <%= server.dateStart %>
              <%= server.serverversion.name %>
              <%= link_to server.urlServer, server.urlServer %>
            </li>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
</div>
