<div class="col col-3 border">
      <%= render '/layouts/left' %>
</div>
<div class="col col-9 border">

<h1><%= t('.title') %></h1>

<ul class="list-group">
<% @listservers.each do |server| %>
<li class="list-group-item">
<%= link_to server.title, listserver_path(server) %>
<%= server.dateStart %>
<%= server.version %>
<%= link_to server.urlServer, server.urlServer %>
</li>
<% end %>
</ul>

</div>
