<h1><%= @server.title %></h1>

<p> <%= @server.urlServer %> </p>
<p> <%= @server.dateStart %> </p>
<p> <%= @server.rating %> </p>
<p> <%= @server.publish %> </p>
<p> <%= @server.created_at %> </p>
<p> <%= @server.updated_at %> </p>