<div class="col col-3">
  <%= render '/profiles/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Редактировать аккаунт</h5>
    <div class="card-body">
      <p class="card-text">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.input :email, autocomplete: "email", class: 'form-control m-2' %>
          </div>
          <div class="field">
            <%= f.input :username, class: 'form-control m-2'  %>
          </div>
          <div class="field">
            <%= f.input :password, autocomplete: "new-password",placeholder: 'оставьте поле пустым, если не хотите его менять', class: 'form-control m-2' %>
          </div>
          <div class="field">
            <%= f.input :password_confirmation, autocomplete: "new-password", class: 'form-control m-2' %>
          </div>
          <div class="actions">
            <%= f.submit "Сохранить", class: 'btn btn-success m-2 w-25' %>
          </div>
        <% end %>
        <hr>
        <%= link_to 'Удалить учетную запись', safedelete_profiles_path,  class: 'btn btn-outline-danger btn-sm', method: :safedelete, data: { confirm: 'Вы уверены?' } %>
        <%= link_to "Назад", :back, class: 'float-right' %>
      </div>
    </div>
  </div>
