<div class="col col-3">
  <%= render 'left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h5 class="card-header">Заявка на прикрепление сервера к учетной записи</h5>
    <div class="card-body">
      <% if @petition.errors.any? %>
        <p class="text-danger"><%= t('common.errors') %></p>
      <% end %>
      <%= simple_form_for @petition, url: server_rights_create_petitions_path, html: { multipart: true }  do |f| %>
        <div class="form-group">
          <%= f.input :target, collection: @servers, label: 'Выберете сервер',  class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.input :body, as: :text, label: 'Сообщение', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Отправить', class: 'btn btn-success w-25 mt-5' %>
        </div>
      <% end %>
      <div class='mt-5'>
        <p>Также вы можете автоматически добавить сервер к учетной записи выполнив команду из консоли сервера который вы хотите прикрепить.
        </p>
        <p>Скопируйте строку ниже и выполните эту команду на сервере</p>
        <p class="card-text user-select-all">
          curl https://lineagetop.com/api/v1/gates/server_rights?id=<%= current_user.id %>
        </p>
      </div>
    </div>
  </div>
</div>
