<% if @server.errors.any? %>
  <p class="text-danger"><%= t('common.errors') %></p>
<% end %>
<%= simple_form_for @server, html: { multipart: true }  do |f| %>
  <div class="form-group">
    <%= f.input :title, placeholder: 'Myservername', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :urlserver, placeholder: 'https://myadress.ru', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :serverversion, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :rate, class: 'form-control' %>
  </div>
  <div class="form-group">   
    <%= f.input :datestart, as: :string, class: 'form-control datetimepicker' %>
  </div>
  <div class="form-group">
    <%= f.input :description, as: :text, placeholder: 'максимум 400 символов', class: 'form-control' %>
  </div>
  <div class="media">
    <div class="media-body">
      <div class="form-group">
        <%= f.input :imageserver,  class: 'form-control' %>
      </div>
      <span class="badge badge-light">размер картинки преобразуется в 240х120</span>
    </div>
    <% if @server.imageserver? %>
      <%= image_tag @server.imageserver.url, class: "ml-3"%>
    <% else %>
      <svg class="bd-placeholder-img mr-3" width="240" height="120">
        <title>Место для картинки сервера</title><rect width="100%" height="100%" fill="#868e96" />
        <text x="24%" y="54%" fill="#dee2e6" >Нет изображения</text>
      </svg>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit 'Сохранить', class: 'btn btn-success w-25 mt-5' %>
  </div>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <%# <input type="text" class="form-control datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5"/> %>
        </div>
        <script type="text/javascript">
            $(function () {
                $('datetimepicker').datetimepicker();
            });
        </script>
    </div>
</div>

