<div class="shadow bg-light my-5">
  <h5 class="card-header">Премиум сервера</h5>
  <div class="card-body">
    <% if @server.vip.blank?  %>
    На данный момент нет вип серверов
    <% else %>
      <table class="table table-hover table-sm">
        <tbody>
          <% @server.vip.each do |server| %>
            <tr>
              <td class="text-<%= status_color(server.status.to_s) %> p-0 m-0" style="font-size:20px"> <%= status_icon(server.status.to_s) %> </td>
              <td><%= link_to truncate(server.title.html_safe, length:20), server.urlserver, class: "link-#{server.status}", target: "_blank" %></td>
              <td><%= server.serverversion.name %></td>
              <td>x<%= server.rate %></td>
              <td><%= server.datestart.strftime("%d.%m.%Y в %H:%M") %></td>
              <td><%= link_to ' Info', server_path(server), class: 'btn btn-sm btn-info p-0 w-100' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
