<div class="col col-3">
  <%= render '/layouts/left' %>
</div>
<div class="col col-9">
  <%= render '/servers/premium_servers' %>
  <%= render '/servers/open_soon_servers' %>
  <%= render '/servers/already_opened_servers' %>
  <%= render '/servers/rating_servers' %>
</div>
