<div class="col col-3">
  <%= render '/layouts/left' %>
</div>
<div class="col col-9">
  <div class="shadow bg-light my-5">
    <h4 class="card-header">Сервер - <%= @server.title %></h4>
    <div class="card-body">
      <div class="media">
        <% if @server.imageserver? %>
          <%= image_tag @server.imageserver.url, class: "mr-3"%>
        <% else %>
          <svg class="bd-placeholder-img mr-3" width="240" height="120">
            <title>Место для картинки сервера</title><rect width="100%" height="100%" fill="#868e96" />
            <text x="24%" y="54%" fill="#dee2e6" >Нет изображения</text>
          </svg>
        <% end %>
        <div class="media-body"><%= @server.description %></div>
      </div>
      <hr>
      <table class="table-sm">
        <tbody>
          <tr>
            <th class="w-25" scope="row">Название сервера:</th>
            <td class="w-50"><%= @server.title %></td>
          </tr>
          <tr>
            <th class="w-25" scope="row">Адрес сервера:</th>
            <td><%= link_to @server.urlserver, @server.urlserver, target: "_blank" %></td>
          </tr>
          <tr>
            <th class="w-25" scope="row">Дата и время старта:</th>
            <td><%= @server.datestart.strftime("%d-%m-%Y в %H-%M") %></td>
          </tr>
          <tr>
            <th class="w-25" scope="row">Хроники:</th>
            <td> <%= @server.serverversion.name %></td>
          </tr>
          <tr>
            <th class="w-25" scope="row">Рейты:</th>
            <td> x<%= @server.rate %></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h5>Проголосовать за сервер</h5>
      <p>
        <h5>Рейтинг: <span class="badge badge-light"><%= @server.rating %></span></h5>
        Всего голосов: <span class="badge badge-light"><%= @server.votes.all.count %></span>
        Голосов сегодня: <span class="badge badge-light"><%= @server.votes.where(date: 0.days.ago).count %></span>
      </p>
      <% unless user_signed_in? %>
        <div class="alert alert-info">
          Необходимо <%= link_to "Войти", new_user_session_path, class: "alert-link" %> для голосования
        </div>
      <% else %>
        <% if current_user.votetime > date_time_now = DateTime.now %>
          <div class="alert alert-info">
            <% th = ((current_user.votetime - date_time_now)/60/60).to_i %>
            <% tm = ((current_user.votetime - date_time_now)/60).to_i - th * 60 %>
            Вы сможете проголосовать через
            <% if th > 0 %>
              <%= th %>
              часов   
            <% end %>
            <% if tm > 0 %>
              <%= tm %>
              минут          
            <% end %>
            <% if tm == 0 %>
              <%= ((current_user.votetime - date_time_now)).to_i - tm * 60 if tm == 0 %>
              секунд          
            <% end %>
          </div>
        <% else %>
          <%= link_to 'Проголосовать', votes_path(id: @server.id), class: "btn btn-success w-25", method: :post  %>
        <% end %>
      <% end %>
      <div>
      <h5>Голоса за сервер за последние 30 дней</h5>
      
      
      <%= area_chart @server.votes.month.group_by_day(:date).count, label: 'Голосов', ytitle: 'Голоса', xtitle: 'Дата' %>
<h5>Голоса за сервер по странам</h5>
      <%= pie_chart @server.votes.group(:country).count %>
      </div>
    </div>
  </div>
</div>
