<div class="shadow col-md-4 offset-md-4 bg-white my-5">
  <h2 class="text-center m-4"><%= t(".sign_in") %></h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.input :email, autofocus: true, autocomplete: "email", class: 'form-control mb-2'%>
    </div>
    <div class="field mt-4">
      <%= link_to 'Забыли пароль?', new_password_path(resource_name), class: 'float-right' %>
      <%= f.input :password, autocomplete: "current-password", class: 'form-control mb-2' %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: 'my-2' %>
        <%= f.label :remember_me %>
      </div><br />
    <% end %>
    <div class="actions">
      <%= f.submit t(".sign_in"), class: 'btn btn-block btn-success' %>
    </div>
  <% end %>
  <hr>
  <p>Или войдите с помощью других сервисов</p>
  <%= render "devise/shared/omniauth" %>
  <hr>
  <p>Ещё нет аккаунта?<%= link_to 'Зарегестрируйтесь', new_registration_path(resource_name), class: 'float-right' %></p>
</div>
