<div class="shadow bg-light my-5">
  <h5 class="card-header">Все сервера л2</h5>
  <div class="p-0">
    <br>
    <div class="text-center">
      Поиск сервера  
    </div>
    <form class="form-group p-3" action="/servers/search" method="GET">
      <select  class="form-control" type="text" name="serverversion">
        <option>Хроники</option>
        <% all_versions_servers.each do |name| %>
          <option><%= name %></option>
        <% end %>
      </select>
      <br>
      <select  class="form-control" type="text" name="rate">
        <option>Рейты</option>
        <% all_rates_servers.each do |rate| %>
          <option><%= rate %></option>
        <% end %>
      </select>
      <br>
      <select  class="form-control" type="date_field" name="datestart">
        <option>Дата старта</option>
        <option value="<%= 'today' %>">Сегодня</option>
        <option value="<%= 'tomorrow' %>">Завтра</option>
        <option value="<%= 'yesterday' %>">Вчера</option>
      </select>
      <br>
      <input class="btn btn-dark w-100" type="submit" value="Подобрать">
    </form>
    <div class="m-1">
      <a href="#">
        <%# <img src="/images/servers/1_240x400.jpg" class="rounded-lg" width="240", height="400"> %>
        <%= image_tag "/images/servers/240х400.jpg", class: "rounded-lg", width: "100%" %>
      </a>
    </div>
    <% baner_random.each do |server| %>
      <% if server.imageserver? %>
        <div class="m-1">
          <a href="<%= server.urlserver %>" target="_blank">
            <%= image_tag server.imageserver.url, class: "rounded-lg", width: "100%" %>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
