<div class="sticky-top" style="background-color: #21262b;">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #21262b;">
      <a class="navbar-brand p-0 mr-4" href="<%= servers_path %>"><%= image_tag "/images/logo_navbar.png" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'На главную', servers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Реклама', advertising_contents_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Информация', about_contents_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Добавить сервер', new_server_path, class: "btn btn-outline-info" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <% if current_user.username.blank? %>
                <%= link_to current_user.email, info_profiles_path, class: "nav-link" %>
              <% else %>
                <%= link_to current_user.username, info_profiles_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Вход", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>
