<!DOCTYPE html>
<html>
  <head>
    <title>Новые сервера л2 | Анонсы серверов Lineage 2 | LineageTop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="icon" href="https://lineagetop.com/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <META NAME="Keywords" CONTENT="Анонсы серверов lineage линейдж сервер л2">
    <META NAME="Description" CONTENT="Анонсы серверов lineage 2 | Рейтинг серверов lineage 2 | Мы предоставляем возможность быстро найти качественный сервер lineage 2 по вашим критериям выбора. Так же мы предлагаем вам зарегистрировать ваш сервер в нашем уникальном рейтинге."/>  </head>
  <body>
    <%# Шапка--------------------------------------------------------- %>
    <% if baner_top.blank? %>
      <div>
        <img src="/images/127734.jpg" class="d-block w-100" alt="">
      </div>
    <% else %>
      <div>
        <a href="<%= baner_top.baner_top_url %>" target="_blank">
          <%= image_tag baner_top.baner_top_img.url, class: "d-block w-100" %>
        </a>
      </div>
    <% end %>
    <%# Навбар меню-------------------------------------------------- %>
    <%= render '/layouts/navbar' %>
    <div class="container">
      <%# Флеш сообщения------------------------------------------------ %>
      <%= render '/layouts/msg' %>
      <%# Контент------------------------------------------------------- %>
      <div class="row">
        <%= yield %>
      </div>
      <%# Подвал-------------------------------------------------------- %>
      <%= render '/layouts/footer' %>
    </div>
  </body>
</html>
