<!DOCTYPE html>
<html>
  <head>
    <title>LTRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= listservers_path %>">Home</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ueugzu</a>             
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">dfjgjdgf;i</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
         <% if user_signed_in? %>
          <% if acces_new_server? %>
          <li class="nav-item">
            <%= link_to 'Добавить сервер', new_listserver_path, class: "btn btn-secondary" %>
          </li>
          <% end %>

           <span class="navbar-text"> 
           <% if current_user.username.blank? %>
             <%= link_to truncate(current_user.email.html_safe, length:15) , edit_user_registration_path %>
           <% else %>
             <%= link_to truncate(current_user.username.html_safe, length:15) , edit_user_registration_path %>
           <% end %>          
           
           </span>
           <li class="nav-item">
            <% current_user %>
            <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link" %>
           </li>
         <% else %>
           <li class="nav-item">
            <%= link_to "Вход", new_user_session_path, class: "nav-link" %>
           </li>
          <li class="nav-item">
             <%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %>
           </li>
        <% end %>
    </ul>
  </div>
</nav>
</div>
    
    
    <div class="container">
   
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name) %>">
              <button class="close" data-dismiss="alert">&times;</button>
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
