<!DOCTYPE html>
<html>
  <head>
    <title>LTRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= listservers_path %>">Home</a>
      </li>
      <li class="nav-item dropdown" style="max-width: 500px;">
        <a class="nav-link dropdown-toggle" style="max-width: 500px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="max-width: 500px;">
          <h2 class="text-center m-5">Log in</h2>
          <div class="col-8 offset-2 col-sm-6 offset-sm-3"> 
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.text_field :email %>
          <%= f.password_field :password %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= f.submit 'Sign in' %>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
          <% end %>
          </div>  
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
         <% if user_signed_in? %>
           <span class="navbar-text">           
           <%= link_to current_user.email, edit_user_registration_path %>
           </span>
           <li class="nav-item">
            <% current_user %>
            <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link" %>
           </li>
         <% else %>
           <li class="nav-item">
            <%= link_to "Вход", new_user_session_path, class: "nav-link" %>
           </li>
          <li class="nav-item">
             <%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %>
           </li>
        <% end %>
    </ul>
  </div>
</nav>
</div>
    

    <%= link_to 'Добавить сервер', new_listserver_path %>
    <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    </div>
  </body>
</html>
